/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
* {
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani', sans-serif;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

a {
  transition: 0.3s ease;
}

a:hover {
  color: #fc6703;
}

.dot {
  font-size: 30px;
  line-height: 0;
  display: inline-block;
  height: 15px;
  vertical-align: middle;
}

.article__content {
  padding: 15px;
  border-bottom: 2px solid #fc6703;
}

.article__author span {
  color: #fc6703;
}

.article__img-container {
  font-size: 0;
}

@media (min-width: 1024px) {
  /* grid view */
  .articles-list.grid-view article {
    display: flex;
    width: 100%;
  }
  .articles-list.grid-view .article__content,
  .articles-list.grid-view .article__img-container {
    flex: 1;
  }
  .articles-list.grid-view .article__content {
    border-bottom: 0;
    max-width: 50%;
  }
  .articles-list.grid-view .article__img-container {
    font-size: 0;
  }
  .articles-list.grid-view .aligned-right {
    text-align: right;
  }
  .articles-list.grid-view .aligned-right .article__img-container {
    order: 1;
  }
  /* list view */
  .articles-list.list-view article {
    width: 100%;
    display: flex;
    align-items: start;
  }
  .articles-list.list-view .article__img-container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .articles-list.list-view .article__img-container {
    position: relative;
    flex: 1;
    margin: 20px 0;
    min-width: 120px;
  }
  .articles-list.list-view .article__content {
    flex: 10;
    font-size: initial;
    border-bottom: 0;
    margin-bottom: 15px;
  }
  .articles-list.list-view .article__img-container .article__img {
    border-radius: 50%;
    min-height: 100%;
    position: absolute;
  }
  .articles-list.list-view .hd-article article {
    font-size: 0;
    border-bottom: 2px solid #fc6703;
    padding-left: 15px;
  }
  /* cards view */
  .articles-list.cards-view {
    display: flex;
    flex-wrap: wrap;
  }
  .articles-list.cards-view article {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .articles-list.cards-view .article__content {
    flex-grow: 1;
  }
  .articles-list.cards-view .hd-article {
    width: 25%;
  }
}
